:root {
    /*Paleta de colores*/
    --oscuro: #07070A;
    --azulOscuro: #0A1128;
    --azulClaro: #006fe6;
    --blanco: #FEFCFB;
    --titulos: 'Baloo 2', cursive;
    --parrafos: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /*Equivale a 10px es decir 16/0.625*/
    /*scroll-behavior: smooth;*/
}

body {
    font-size: 1.6rem;
}

*,*::before, *::after{
    box-sizing: inherit;
}

p {
    font-size: 3rem; /*3 x 10 = 30px*/

}

/* Estilos globales*/

*{
    list-style: none;
    text-decoration: none;
    /*border: 1px solid red;*/
}

h1, h2, h3 {
    font-family: var(--titulos);
}

p, a {
    font-family: var(--parrafos);
}


.ocultar {
    display: none;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

.btn {
    padding: 1rem 4rem;
    font-weight: bold;
    font-family: var(--parrafos);
    font-size: 2rem;
    border: none;
    color: var(--blanco);
    cursor: pointer;  
}

.bordes {
    border: 2px solid var(--azulClaro);
    color: var(--azulClaro);
    display: block;
    text-align: center;
    transition: background-color .3s ease-in-out;    
}

@media (min-width: 768px) {
    .bordes{
        display: inline-block;
        margin-top: 2rem;
    }
}

.bordes:hover {
    background-color: var(--azulClaro);
    color: var(--blanco);
}

.azul {
    background-color: var(--azulClaro);
}

@keyframes desplazamiento {

    /*desplazamiento inicial*/

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }

}

/*encabezado*/

.encabezado {
    background-image: url(../img/equipo2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 70rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;    
}

@media (min-width: 768px) {
    .encabezado{
        background-attachment: fixed;
    }
}

.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;

}

.logo h2{
    font-size: 3rem;
}

.logo h2 span{
    color: var(--azulClaro);
}

.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
}

.navegacion {
    background-color: #ffffff83;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;   
}

@media (min-width: 768px) {
    .ocultar{
        display: inline;
    }
}

.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-align: center;
    animation: desplazamiento 0.5s ease-in-out;
}

.navegacion a:hover{
    background-color: var(--azulClaro);
    color: var(--blanco);
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline;
        
    }

    .navegacion {
        position: relative;
        top: unset;  /*unset  'que se lo quite la propiedad'*/
        width: auto;
        background-color: unset;
        animation: unset;        
    }    
}

.hamburguesa span{
    width: 3.5rem;
    height: 1rem;
    border: 3px solid #fff;
    background-color: #000;
    display: block;
}

@media (min-width: 768px) {
    .hamburguesa{
        display: none;
    }
}

/*Contenido del encabezado*/

@media (min-width: 768px) {
    .contenido-encabezado {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 85%;
    }
    .contenido-encabezado,
    .formulario-encabezado{
        flex: 0 0 calc(50% - 5rem)
    }
}

.texto-encabezado h1{
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    padding-top: 8rem;
}

@media (min-width: 768px) {
    .texto-encabezado h1 {
        font-size: 7rem;
        text-align: left;
        padding-top: 0;

    }
}

.formulario-encabezado{
    
    background-color:#ffffff98;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 5rem;
}

.formulario-encabezado h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

@media (min-width: 768px) {
    .formulario-encabezado{
        margin-top: 15rem;
    }

    .formulario-encabezado h2{
        font-size: 3rem;
    }
}

.input-encabezado{
    margin-bottom: 1rem;
    width: 100%;
}

.input-encabezado input{
    width: 100%;
    padding: 0 1.6rem; 
    height: 4.8rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    font-family: var(--parrafos);    
}

/*Ventajas*/

@media (min-width: 768px) {
    .contenido-ventajas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

.ventajas {
    padding: 5rem;
    background-color: var(--azulOscuro);
}


/*max-width: 120rem;
 width: 95%; */

.ventaja{
    color: var(--blanco);
    text-align: center;
}

.ventaja i{
    font-size: 4rem;
}

.ventaja h3{
    font-size: 2.5rem;
}

.ventaja p{
    font-size: 2rem;
}

/*Secci贸n nosotros*/

.nosotros h2{
    text-align: center;
    font-size: 4rem;
    color: var(--azulClaro);
}

@media (min-width: 768px) {
    .nosotros h2{
        font-size: 5rem;
    }
}

.contenido-nosotros {
    background-image: url(../img/nosotros-2.jpg);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-size: cover;
    background-position: center center;
}

.texto-nosotros {
    grid-row: 2/3;
    background-color: var(--blanco);
    padding: 2rem;

}

@media (min-width: 768px) {
    .contenido-nosotros{
        grid-template-columns: repeat(2,1fr); /* insertamos gri-template ya que hereda la prop grid*/
        background-attachment: fixed;
    }

    .texto-nosotros{
        padding: 5rem;
    }
}



.texto-nosotros h3{
    font-size: 2.5rem;
    color: var(--azulClaro);
    text-align: center;
}

.texto-nosotros p{
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .texto-nosotros{
        text-align: left;
    }
}

/*Secci贸n Servicios*/

.servicios{
    margin-top: 5rem;    
}

.servicios h2{
    font-size: 5rem;
    text-align: center;
    color: var(--azulClaro);
}

@media (min-width: 768px) {
    .contenido-servicios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 4rem;  /*Separaci贸n entre cards*/
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.servicio i{
    background-color: var(--azulClaro);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.45);
    transition: all .3s ease-in-out;
}

.servicio h3{
    font-size: 2.2rem;
    color: var(--azulOscuro);
}

.servicio p {
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .servicio p {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .servicio:hover{
        cursor: pointer;
    }

    .servicio:hover .fas{
        background-color: var(--blanco);
        color: var(--azulClaro);
    }

    .servicio:hover .fa-solid {
        background-color: var(--blanco);
        color: var(--azulClaro);
    }
}

/* Secci贸n contacto*/

.contacto{
    padding-top: 5rem;
}

.contacto h2{
    text-align: center;
    color: var(--azulClaro);
    font-size: 5rem;    
}

@media (min-width: 768px) {
    .contenido-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.informacion-contacto{
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.informacion-contacto::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.formulario-contacto {
    font-family:var(--titulos)
}

.informacion-contacto h3{
    font-size: 4rem;
    text-align: center;
}



.informacion-contacto p{
    font-size: 2rem;
}

.informacion-contacto h3, 
.informacion-contacto p {
    color: var(--blanco);
}

.formulario-contacto{
   
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--azulOscuro);
}

.input-contacto label{
    color: var(--blanco);
    display: block;
    margin: 1rem 0;
    font-weight: bold;
}

.input-contacto input{
    padding: 1.2rem 1rem;
    font-family: var(--parrafos);
}

.input-contacto input, .input-contacto textarea{
    width: 100%;
    outline: none;
}

.input-contacto textarea{
    height: 15rem;
    resize: none;
}

.input-contacto input[type="submit"]{
    width: auto;
    padding: 1rem 3rem;
    transition: background-color .3s ease-in-out;
}

.input-contacto input[type="submit"]:hover{
    background-color: var(--blanco);
    color: var(--azulClaro);
}

.footer{
    text-align: center;
}

.footer p {
    font-size: 2rem;
}


@media (min-width: 768px) {

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .footer p{
        font-size: 2rem;
    }
}